DRIVER=~fastapi
HOST=127.0.0.1
PORT=8080
ONEBOT_ACCESS_TOKEN=你的NapCat_Token
DEEPSEEK_API_KEY=你的DeepSeek_API_Key
VOLCENGINE_API_KEY=你的火山引擎API_Key
VOLCENGINE_VISION_MODEL=doubao-seed-1-6-vision-250815
QWEATHER_KEY=你的和风天气API密钥
QWEATHER_HOST=你的和风天气API主机
